.inm-button {
  align-items: center;
  background-color: $pink;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  color: $black;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
  height: 56px;
  line-height: 16px;
  margin: 0 1rem 1rem;
  padding: 0 2rem;
  position: relative;
  text-decoration: none;

  &__icon {
    &,
    g {
      fill: currentColor;
    }
  }

  &__icon--hover {
    display: none;
  }

  &:disabled {
    background-color: $grey-50 !important;
    color: $black !important;
    cursor: unset;
    opacity: 50%;
  }

  &.inm-button--force-hover,
  &:hover {
    background-color: transparent;
    border-color: $pink;
    color: $pink;
    text-decoration: none;

    .inm-button__icon--idle {
      display: none;
    }

    .inm-button__icon--hover {
      display: block;
    }
  }

  &--no-hover {
    pointer-events: none;
  }
}

.inm-button--pos-left {
  margin-left: 0;
}

.inm-button--medium {
  height: 48px;
  line-height: 16px;
}

.inm-button--small {
  height: 40px;
  line-height: 14px;
}

.inm-button--chevron {
  padding-right: 1.5rem;

  &::after {
    @include chevron();
  }
}

.inm-button--icon-left,
.inm-button--icon-right {
  .inm-button__icon {
    max-height: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.inm-button--icon-left {
  padding-left: 3.75rem;

  .inm-button__icon {
    left: 1.5rem;
  }
}

.inm-button--icon-right {
  padding-right: 3.75rem;

  .inm-button__icon {
    right: 1.5rem;
  }
}

.inm-button--black {
  background-color: $black;
  color: $white;

  &.inm-button--force-hover,
  &:hover {
    border-color: $black;
    color: $black;
  }
}

.inm-button--white {
  background-color: $white;

  &.inm-button--force-hover,
  &:hover {
    // background-color: $white-hover;
    border-color: $white;
    color: $white;
  }
}

.inm-button--secondary {
  background-color: transparent;
  border-color: $black;
  color: $black;

  &.inm-button--force-hover,
  &:hover {
    background-color: $black;
    border-color: $black;
    color: $white;
  }

  &:disabled {
    background-color: transparent !important;
    opacity: 25%;
  }
}

.inm-button--secondary-white {
  background-color: transparent;
  border-color: $white;
  color: $white;

  &.inm-button--force-hover,
  &:hover {
    background-color: $white;
    border-color: $white;
    color: $black;
  }

  &:disabled {
    background-color: transparent !important;
    color: $white !important;
    opacity: 25%;
  }
}
