.inm-dropdown {
  color: $black;
  display: inline-block;
  margin-bottom: 1rem;
  max-width: 100%;
  position: relative;
  text-align: left;

  &__label {
    margin-bottom: 1rem;
  }

  &__select {
    @include input-field {
      cursor: pointer;
      padding-right: 3rem; //for dropdown icon
    }

    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    @include chevron(currentColor, 'down');
    bottom: 1.2rem;
    position: absolute;
    right: 1.5rem;
  }

  &--bg-dark {
    color: $white;

    .inm-dropdown__select {
      @include input-field('dark');
    }
  }
}
