.inm-footer {
  background-color: $black;
  font-size: 14px;
  font-weight: 300;
  padding: 3rem 1.5rem;
  text-align: left;
  width: 100%;

  &,
  &__text,
  &__heading {
    color: $white;
  }

  &__heading {
    margin-bottom: 1rem;
  }

  &__main {
    @include make-row();
    padding-bottom: 1rem;
  }

  &__main-links {
    @include make-col-ready();
    @include make-col(6);
    margin-bottom: 0.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  &__ctas {
    @include make-col-ready();
    @include make-col(12);
  }

  &__bottom {
    border-top: 1px solid $grey-100;
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    padding-top: 2rem;
  }
}
