@include desktop {
  .inm-footer {
    padding: 5rem 2rem;

    &__main-links {
      @include make-col(3);
    }

    &__ctas {
      @include make-col(4);
      @include make-col-offset(2);
    }

    &__inline-bullet {
      display: inline;

      & + &::before {
        content: '\25CF';
        display: inline;
        margin: 0 1rem;
      }
    }

    &__bottom {
      padding-top: 1rem;

      a {
        text-decoration: none;
      }

      > * {
        margin-bottom: 0;
      }
    }
  }
}
