.inm-table {
  background-color: $white;
  border-radius: $border-radius;
  padding: 0.5rem 1.5rem;
  text-align: left;

  &__table {
    display: flex;
    width: 100%;
  }

  &__headergroup {
    display: none;
  }

  &__table,
  &__body,
  &__row,
  &__cell {
    display: block;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;

    &:not(:last-child) {
      border-bottom: $border-mid-grey;
    }
  }

  &__cell {
    font-size: 12px;
    line-height: 24px;
    padding: 0.25rem 0;
    width: 100%;
  }

  &__cell--mobile-pos-inline {
    width: auto;

    & + &::before {
      color: $grey-25;
      content: '\25CF';
      display: inline;
      margin: 0 0.75em;
      // opacity: 0.25;
    }
  }

  &__cell--mobile-pos-top {
    order: -1;
  }
}
