.inm-link {
  color: $grey-100;
  font-size: 0.875rem;
  text-decoration: underline;

  &__icon {
    display: inline-block;
    margin: 0 0.5rem;
    opacity: 0.75;
  }
}

// state modifiers
.inm-link {
  &:hover,
  &--force-hover {
    color: $black;
  }

  &:disabled,
  &--force-disabled {
    color: $grey-50;
    cursor: default;
    pointer-events: none;
  }
}

.inm-link__icon {
  .inm-link--white & {
    opacity: 1;
  }

  .inm-link--force-hover & {
    opacity: 1;
  }

  .inm-link--force-disabled & {
    opacity: 0.25;
  }

  .inm-link--bold & {
    opacity: 1;
  }

  .inm-link:hover & {
    opacity: 1;
  }

  .inm-link:disabled & {
    opacity: 0.25;
  }
}

.inm-link--large {
  font-size: 1rem;
}

.inm-link--bold {
  color: $black;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &.inm-link--force-hover {
    color: $grey-100;
    text-decoration: none;
  }

  &:disabled,
  &.inm-link--force-disabled {
    color: $grey-50;
  }

  &:hover .inm-link__icon {
    opacity: 0.75;
  }

  &:disabled .inm-link__icon {
    opacity: 0.5;
  }

  &--no-hover:hover {
    color: $black;

    .inm-link__icon {
      opacity: 1;
    }
  }
}

.inm-link--bold.inm-link--force-hover .inm-link__icon {
  opacity: 0.75;
}

.inm-link--bold.inm-link--force-disabled .inm-link__icon {
  opacity: 0.25;
}

.inm-link--white {
  color: $white;

  &:hover,
  &.inm-link--force-hover {
    color: $grey-25;
  }

  &:disabled,
  &.inm-link--force-disabled {
    color: $grey-75;
  }

  &.inm-link--force-hover .inm-link__icon {
    opacity: 0.75;
  }

  &.inm-link--force-disabled .inm-link__icon {
    opacity: 0.5;
  }

  &:hover .inm-link__icon {
    opacity: 0.75;
  }

  &:disabled .inm-link__icon {
    opacity: 0.5;
  }
}
