.inm-content {
  display: flex;
  margin: 0 auto;
  max-width: $content-max-width;
}

.inm-content__sidebar {
  flex: 0 0 256px;
  padding: 80px 0;
}

.inm-content__main {
  flex: 0 1 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 80px $content-side-margin-base;
  width: 100%;
}

.inm-section {
  margin-bottom: 56px;
}

.inm-section__splitter {
  margin-top: 40px;
}

.inm-section--bottom-border {
  border-bottom: 1px solid $grey-0;
  padding-bottom: 16px;
}

@include tablet {
  .inm-content__main {
    padding: 80px $content-side-margin-tablet;
  }

  .inm-content--no-sidebar {
    &::before {
      content: '';
      display: block;
      flex: 0 0 256px;
    }
  }
}
