/* Colors */
// primary
$black: #000;
$white: #fff;
$pink: #ff3d5c;
// secondary
$navy: #103069;
$blue-grey: #335669;
$dark-green: #0c370c;
$green: #095953;
$dark-purple: #270037;
$burgundy: #5e0037;
// neutral
$grey-100: #424651;
$grey-75: #767980;
$grey-50: #a6a8ad;
$grey-25: #d4d4d8;
$grey-10: #ececed;
$grey-5: #f5f6f6;
$grey-0: #fafbfb;
// highlight
$light-grey: #a0a6b2;
$aqua: #80eeff;
$teal: #26a7b4;
$lime-green: #6bf108;
$yellow: #fffa00;
$mint-green: #00ffa1;
$violet: #b67cea;
// communication
$error: #d40000;
$warning: #f90;
$success: #1da119;
$waiting: #103069;
$inactive: #767980;
// ------

$font-family-list: 'Noto Sans', Arial, sans-serif;
$body-color: $grey-100;
$link-color: $grey-100;

$font-size-small: 14px;
$font-size-tiny: 12px;

$gutter-width: 24px;

$border-radius: 0.5rem;
$border-radius-small: 0.25rem;
$border-mid-grey: 2px solid $grey-10;
$border-light-grey: 2px solid $grey-0;
$border-blue-grey: 2px solid #355572;
$box-shadow: 0 0 0.4375rem 0 rgba(#000, 0.25);

$navbar-height: 96px;
$content-max-width: 1440px;
$content-side-margin-base: 24px;
$content-side-margin-tablet: 48px;

$tick-box-height: 1.5rem;
