$ball: 20px;

.inm-toggle {
  display: inline-block;
  margin: 0 4rem 2rem 0;
  text-align: left;

  &__off-tag,
  &__on-tag {
    display: inline-block;
  }

  &__input {
    position: absolute;
    visibility: hidden;
  }

  &__label {
    cursor: pointer;
    display: inline-flex;
    line-height: 24px;
    margin: 0;
  }

  &__slider {
    background-color: $grey-25;
    border: 2px solid transparent;
    border-radius: 1rem;
    box-sizing: content-box;
    display: inline-block;
    height: 20px;
    margin: 0 1rem;
    position: relative;
    transition: background-color 0.25s ease-out;
    width: 44px;

    &::after {
      background-color: $white;
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      transition: left 0.25s ease-out;
      width: 20px;
    }
  }

  &__input:checked + &__slider {
    background-color: $grey-100;

    &::after {
      left: calc(100% - 20px);
    }
  }

  &--disabled {
    opacity: 0.4;

    .inm-toggle__label {
      cursor: auto;
    }
  }
}
