.inm-side-nav {
  background-color: $white;
  max-width: 18rem;
  padding-bottom: 2.5rem;
  text-align: left;

  &__logo {
    height: 27px;
    margin: 2rem;
    max-width: 100%;
    width: 5rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    border-left: 4px solid transparent;
    color: $black;
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 0.5rem 2rem 0.5rem 1.75rem;
    text-decoration: none;
    width: 100%;

    &:hover,
    &--active {
      background-color: $grey-0;
      color: $black;
      text-decoration: none;
    }

    &--active {
      border-color: $pink;
    }
  }

  &__sub-level {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0.375rem 0 0.75rem;

    &--active {
      display: block;
      order: 1;
    }

    &-link {
      color: $grey-100;
      display: block;
      font-size: 12px;
      line-height: 20px;
      padding: 0.375rem 2rem 0.375rem 3.25rem;
      text-decoration: none;
      width: 100%;

      &:hover,
      &--active {
        color: $black;
        text-decoration: none;
      }
    }

    + .inm-side-nav__link {
      position: relative;

      &::after {
        @include chevron($black, 'down');
        position: absolute;
        right: 2rem;
        top: 1rem;
      }
    }

    &--active + .inm-side-nav__link {
      &::after {
        @include chevron($black, 'up');
      }
    }
  }
}
