$icon-size: 1.5rem;
$progressbar-line-position: $icon-size / 2 - 0.0625rem;

.inm-progress-bar {
  display: block;
  margin: 0 2rem 2rem;
  padding-top: 2rem;

  &__bar {
    appearance: none;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  &__indicator {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    overflow: visible;
    padding: 0;
  }

  &__stage {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &::after,
    &::before {
      background: $grey-50;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      top: $icon-size / 2 - 0.0625rem;
      width: 50%;
    }

    &::after {
      left: 50%;
      transform: translate($icon-size / 2, 0);
    }

    &::before {
      right: 50%;
      transform: translate(-1 * $icon-size / 2, 0);
    }
  }

  &__stage-icon {
    margin-bottom: 1.25rem;
    position: relative;
  }

  &__stage-label {
    color: $grey-50;
    font-size: 0.75rem;
    font-weight: 700;
  }

  &__circle-active {
    display: none;
  }

  &__circle-inactive {
    display: block;
  }

  &__active-icon,
  &__completed-icon {
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__stage--active,
  &__stage--completed {
    .inm-progress-bar__stage-label {
      color: $black;
    }

    .inm-progress-bar__stage-icon {
      border-color: $black;
    }

    &.inm-progress-bar__stage-wrap::before {
      background: $black;
    }

    .inm-progress-bar__circle-inactive {
      display: none;
    }

    .inm-progress-bar__stage::before {
      background-color: $black;
    }
  }

  &__stage--active {
    .inm-progress-bar__active-icon,
    .inm-progress-bar__circle-active {
      display: block;
    }
  }

  &__stage--completed {
    .inm-progress-bar__completed-icon,
    .inm-progress-bar__circle-active {
      display: block;
    }

    .inm-progress-bar__stage::after {
      background-color: $black;
    }
  }

  &__stage-wrap {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;

    &::before {
      background: $grey-50;
      content: '';
      display: block;
      // IE 11 does not support 0 without the unit
      flex: 1 1 0px; /* stylelint-disable-line length-zero-no-unit */
      height: 2px;
      margin-top: $progressbar-line-position;
    }

    &:first-child {
      flex: 0 1 auto;

      .inm-progress-bar__stage::before {
        display: none;
      }
    }

    &:last-child {
      .inm-progress-bar__stage::after {
        display: none;
      }
    }
  }
}
