.inm-overlay {
  align-items: center;
  background-color: #002b52;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;

  &__wrapper {
    background: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    padding: 2rem 4.5rem 2.5rem;
    position: relative;
    width: 100%;
  }

  &__close {
    @include close-button;
  }

  &__icon,
  &__title {
    margin-bottom: 1.5rem;
  }

  &__copy {
    margin-bottom: 2.5rem;
  }

  &__cta {
    margin-right: 2.5rem;

    & + & {
      margin-right: 0;
    }
  }
}
