.inm-pagination {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;

  &__list {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    padding: 0 0.5rem;
  }

  &__listitem {
    display: none;
    margin: 0 0.5rem;
  }

  &__navlink,
  &__pagelink {
    color: $black;
    font-weight: 300;
    padding: 0.5rem;
    text-decoration: none;
  }

  &__navlink {
    font-weight: 600;
    white-space: nowrap;

    &--next {
      padding-left: 2rem;
    }

    &--prev {
      padding-right: 2rem;
    }

    &--next::after {
      @include chevron($black);
    }

    &--prev::before {
      @include chevron($black, 'backward');
    }
  }

  &__pagelink {
    color: $black;
  }

  &__listitem--active {
    display: inline-block;

    .inm-pagination__pagelink {
      display: inline-block;
    }

    .inm-pagination__pagelink::before {
      content: 'Page: ';
    }
  }

  &__more {
    color: $grey-50;
  }

  &__first-page-link,
  &__last-page-link {
    font-weight: 700;
    text-decoration: none;
  }

  &__last-page-link {
    margin-left: 1.5rem;
  }

  &__first-page-link {
    margin-right: 0.5rem;

    span {
      height: 0;
      overflow: hidden;
      position: absolute;
      width: 0;
    }

    &::before {
      @include chevron($black, 'backward');
      margin-right: 0;
    }

    &::after {
      @include chevron($black, 'backward');
      margin-right: 0;
    }
  }

  &__last-page-link {
    display: none;
  }

  &--onbg-dark {
    .inm-pagination__first-page-link,
    .inm-pagination__last-page-link,
    .inm-pagination__navlink--prev,
    .inm-pagination__navlink--next,
    .inm-pagination__pagelink {
      color: $white;
    }

    &__more {
      color: $grey-25;
    }

    .inm-pagination__first-page-link {
      &::before,
      &::after {
        border-color: $white;
      }
    }

    .inm-pagination__navlink--next::after,
    .inm-pagination__navlink--prev::before {
      border-color: $white;
    }
  }
}
