.inm-header {
  background-color: #eff4f7;
  padding: 72px 24px 40px;
  text-align: left;
  width: 100%;

  &__subheading {
    color: $mid-blue;
    margin-bottom: 0.5rem;
  }

  &__title {
    color: $dark-blue;
  }

  &__intro {
    font-weight: 200;
    margin-bottom: 0;
    max-width: 100%;
    width: 28rem;
  }

  &--bg-mid {
    background-color: $mid-blue-grey;

    .inm-header__subheading {
      color: $white;
      font-weight: 400;
    }

    .inm-header__title,
    .inm-header__intro {
      color: $white;
    }
  }
}
